NODE_ENV=dev
APP_NAME=XDD

BASE_URL= http://localhost:3000
DATABASE_URL=123

BETTER_AUTH_SECRET=123
BETTER_AUTH_URL= http://localhost:3000

GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123

RESEND_FROM=email@email.com
RESEND_API_KEY=12

//set to true in only test env
CLEAR_TEST_DB=false